/* Color */
$primary: #272643;
$secodary: #2c698d;
$tertiary: #bae8e8;
$black: #212121;
$white: #f9f9f9;
$grey: #dddddd;
$red: #f90716;
$blue: #0aa1dd;
$green: #5fd068;
$orange: #ff5f00;
$yellow: #faea48;
