@import './helpers/colors';
@import './helpers/reset';

/* Header */
header {
  display: grid;
  justify-content: center;
  background-color: $secondary;
  color: $white;
  padding: 4.8rem 3.2rem;
  text-align: center;
}

.header-title {
  font-size: 4.8rem;
  font-weight: 300;
  letter-spacing: 1rem;
}

.header-description {
  font-size: 1.8rem;
  font-weight: 300;
  width: 80%;
  margin: 2rem auto;
}

.header-btn {
  width: fit-content;
  background-color: $white;
  color: $secondary;
  font-size: 1.6rem;
  font-weight: 700;
  border: 3px solid transparent;
  border-radius: 5px;
  margin: 2rem auto 0;
  padding: 1rem 1.6rem;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.header-btn:hover {
  background-color: $blue;
  color: $white;
  border: 3px solid $tertiary;
}

/* Navigation */
nav {
  position: sticky;
  display: flex;
  justify-content: space-around;
  background-color: $grey;
  padding: 2.2rem;
}

.navigation-btn {
  background-color: $blue;
  color: $white;
  border: 3px solid transparent;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  width: 15rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navigation-btn:hover {
  background-color: $white;
  color: $blue;
  border: 3px solid $blue;
}

/* Section */
section {
  padding: 8rem;
  padding-bottom: 0;
}

.section-title {
  color: $secondary;
  font-size: 3.8rem;
  text-align: center;
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
/* Front End */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);

  gap: 2.2rem;
  margin: 4.8rem 0;
}

.card-item {
  background-color: $white;
  border-radius: 5px;
  padding: 2rem;
}

.card-image {
  margin: 1.6rem 0;
}

.card-info {
 display: flex;
 flex-direction: column;
}

.card-link {
  justify-self: start;
}

.card-link > a {
  color: $black;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 200ms;
  text-decoration: none;
}

.card-link > a:hover {
  color: $blue;
}

